# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [15]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
df = pd.read_csv("jeopardy.csv")
print(df.columns)
df.rename(columns={
    "Show Number":"show_number",
    " Air Date":"air_date",
    " Round": "round",
    " Category": "category",
    " Value":"value",
    " Question":"question",
    " Answer" : "answer"},
         inplace=True)

print(df.columns)
print(df.head())

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
Index(['show_number', 'air_date', 'round', 'category', 'value', 'question',
       'answer'],
      dtype='object')
   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [21]:
def filter_word(dataframe, list_words):
   # Convert the "Question" column to lowercase for case-insensitive matching
    dataframe['question'] = dataframe.question.str.lower()

    # Filter rows based on the presence of all words in the word_list
    filtered_dataframe = dataframe
    for word in list_words:
        filtered_dataframe = filtered_dataframe[filtered_dataframe.question.str.contains(word.lower())]

    return filtered_dataframe

filter_word(df, ["King", "England"])

,show_number,air_date,round,category,value,question,answer
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"both england's king george v & fdr put their stamp of approval on this ""king of hobbies""",Philately (stamp collecting)
6337,3517,1999-12-14,Double Jeopardy!,Y1K,$800,"in retaliation for viking raids, this ""unready"" king of england attacks norse areas of the isle of man",Ethelred
9191,3907,2001-09-04,Double Jeopardy!,WON THE BATTLE,$800,this king of england beat the odds to trounce the french in the 1415 battle of agincourt,Henry V
11710,2903,1997-03-26,Double Jeopardy!,BRITISH MONARCHS,$600,"this scotsman, the first stuart king of england, was called ""the wisest fool in christendom""",James I
13454,4726,2005-03-07,Jeopardy!,A NUMBER FROM 1 TO 10,$1000,it's the number that followed the last king of england named william,4
...,...,...,...,...,...,...,...
208295,4621,2004-10-11,Jeopardy!,THE VIKINGS,$600,in 1066 this great-great grandson of rollo made what some call the last viking invasion of england,William the Conqueror
208742,4863,2005-11-02,Double Jeopardy!,BEFORE & AFTER,"$3,000",dutch-born king who ruled england jointly with mary ii & is a tasty new zealand fish,William of Orange roughy
213870,5856,2010-02-15,Double Jeopardy!,URANUS,$1600,in 1781 william herschel discovered uranus & initially named it after this king of england,George III
216021,1881,1992-11-09,Double Jeopardy!,HISTORIC NAMES,$1000,"his nickname was ""bertie"", but he used this name & number when he became king of england in 1901",Edward VII
216789,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$1200,"this kingdom of england grew from 2 settlements, one founded around 495 by cerdic & his son cynric",Wessex

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [ ]:
       # Use '\b' for word boundaries to ensure whole-word matching
        filtered_dataframe = filtered_dataframe[filtered_dataframe['Question'].str.contains(r'\b{}\b'.format(word.lower()))]

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [31]:
df['value'] = df['value'].str.replace('$', '')
df['value'] = df['value'].str.replace(',', '') # Remove commas from the 'value' column
df['value_float'] = pd.to_numeric(df['value'], errors='coerce') # coerce transforms non numeric values into Nan
print(df.head())

   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   200

                                                                                                      question  \
0             for the last 8 years of his life, galileo was under house arrest for espousing this man's theory
1  no. 2: 1912 olympian; football star at carlisle indian school; 6 mlb seasons with the reds, giants & braves
2                     the city of yuma in this state has a record average of 4,055 hours of sunshine each year
3                         in 1963, live on "the art linkletter show", this company served its billionth burger
4     signer of the dec. of indep., framer of the constitution of mass., second president of the united states

       answer  value_float
0  Copernicus        200.0
1  Jim Thorpe        200.0
2     Arizona        200.0
3  McDonald's        200.0
4  John Adams        200.0

In [33]:
df_filtered = filter_word(df, ["King"])
print(df_filtered.value_float.mean())

785.668910564638

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [37]:
# A function to find the unique answers of a set of data
def get_answer_counts(data):
    return data.answer.value_counts()

# Testing the answer count function
print(get_answer_counts(df_filtered))

answer
Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: count, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.